header{
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.black{
		background-color:black;
	}
	&.gray{
		background-color:gray;
	}
	.logo{
		width: 100px;
	}

}